*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
body {
background-color: #548687;
text-align: center;
}
.pro{
    height: 70vh;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content:center;
    align-items: center;    
}
.game{
    height: 60vmin;
    width : 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center; 
    /* justify-content: space-evenly; */
    gap: 1.5vmin;
}
.box{
height: 18vmin;
width: 18vmin;
border-radius: 1rem;
border: none;
box-shadow: 0 0 1rem rgba(0, 0, 0, 3);
font-size: 8vmin;
color:#b0413e;
background-color: #e1e171;
}
#reset{
padding:1rem;
    background-color: #191913;
    color: #f0f0f0;
    border-radius: 1REM;
    border: none;
}
#new{
    padding:1rem;
    background-color: #191913;
    color: #f0f0f0;
    border-radius: 1REM;
    border: none;
}
.winner{
    height: 100vmin;
    /* font-size: 10vmin; */
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.hide{
    display: none;
}